<div class="container">
  <%= render 'shared/notice' %>
  <%= render 'shared/alert' %>
  <h1><%= t('.applications') %></h1>
  <div class="alt-table-responsive">
    <div id="toolbar">
      <div class="form-inline" role="form">
        <button id="remove" class="btn btn-danger" disabled>
          <i class="glyphicon glyphicon-remove"></i>
          Delete
        </button>
      </div>
    </div>
    <table
      data-toggle="table"
      data-search="true"
      data-show-columns="true"
      data-mobile-responsive="true"
      data-classes="table table-no-bordered table-hover"
      data-toolbar="#toolbar"
      data-url="<%= url_for(applications_search_index_path(format:'json')) %>"
      data-side-pagination="server"
      data-pagination="true"
      data-show-refresh="true"
      data-page-list="[10,100,1000,10000]">
      <thead>
        <tr>
          <th data-checkbox="true"></th>
          <th data-field="name" data-sortable="true" data-formatter="link_to_url_with_name"><%= t(".name") %></th>
          <th data-field="name_ruby" data-sortable="true"><%= t(".name_ruby") %></th>
          <th data-field="name_en" data-sortable="true"><%= t(".name_en") %></th>
          <th data-field="description" data-sortable="true"><%= t(".description") %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
